body{
    margin: 0;
    font-family: "sans-serif";
}

#header{
    position: relative;
    background-color: rgb(190,22,34);
    color: white;
    width: 100%;
    height: 120px;
}
#logo{
    width: 300px;
    padding: 2px;
    height: auto;
}

#headerTitle{
    position: absolute;
    text-align: center;
    left: 330px;
    top: 42px;
    font-size: 25px;
    font-weight: bold;
}

/* Dynamic navigation menu code heavily referenced from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */
#topNav {
    overflow: hidden;
    background-color: rgb(190,22,34);
    position: absolute;
    top: 5px;
    right: 5px;
}

#topNav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}

#topNav a:hover {
    background-color: #C7CBDA;
    color: black;
}

#topNav a.active {
    background-color: rgba(145,156,173);
    color: white;
}

#topNav .icon {
    display: none;
}

@media screen and (max-width: 565px) {
    #topNav.closed a {display: none;}
    #topNav.closed a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 565px) {
    #topNav.open .a:not(:last-child){
        position: absolute;
    }
    #topNav.open a {
        float: none;
        display: block;
        text-align: left;
        border: solid #F47721 2px;
    }
}

@media screen and (max-width: 600px) {
    #logo{
        width: 50%;
        height: auto;
    }
    #topNav{

    }
}

@media screen and (max-width: 500px){
    #headerTitle{
        left: unset;
        right: 10px;
    }
}

@media screen and (max-width: 235px){
    #headerTitle{
        right: unset;
        width: 100%;

        font-size: 15vw;
    }
}

#content{
    margin-top: 20px;
    position: relative;
    margin-left: calc((100% - 800px) / 2);
    width: 800px;
    text-align: left;
    color: #34516C;
}

.videoContainer{
    position: relative;
    padding-bottom: calc(100% / 560 * 315);
    height: auto;

}

.videoContainer iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

#contentTitle{
    font-size: 30px;
    color: #34516C;
    font-weight: bold;
}

.video{
    font-weight: bold;
    color: #f2be1a;
    font-size: 25px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px){
    #content{
        margin-left: unset;
        text-align: left;
        margin-top: 20px;
        position: relative;
        width: 96%;
        left: 2%;
        color: #34516C;
    }
    .videoContainer{
        position: relative;
        padding-bottom: calc(100% / 560 * 315);
        height: auto;
    }
    .videoContainer iframe{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    #contentTitle{
        font-size: 30px;
        color: #34516C;
        font-weight: bold;
    }
    .video{
        font-weight: bold;
        color: #f2be1a;
        font-size: 25px;
        margin-bottom: 20px;
    }
}

#footer{
    position: relative;
    background-color: #34516C;
    width: 100%;
    bottom: 0;
    height: 120px;
    color: white;
    padding-top: 20px;
}

.FooterTitle {
    font-weight: bold;
    font-size: 20px;
    height: 35px;
}
.FooterContent{
    & div {
        height: 25px;
    }
}
.FooterContent div a{
    color: #007FB0;
}
#Footer1{
    position: absolute;
    width: 34%;
    left: 20px;
}
#Footer2{
    position: absolute;
    width: 34%;
    left: 33%;
}
#Footer3{
    position: absolute;
    width: 34%;
    right: 0;
}

@media screen and (max-width: 625px){
    #footer{
        height: 170px;
    }
    .FooterTitle{
        height: 5px;
    }
    #Footer1{
        position: relative;
        width: 60%;
        .FooterContent{
            height: 35px;
        }
        margin-bottom: 10px;
    }
    #Footer2{
        position: relative;
        width: 60%;
        left: 0;
        margin-bottom: 10px;
    }
    #Footer3{
        position: relative;
        width: 60%;
        right: unset;
        left: 0;
        margin-bottom: 10px;
    }
    .FooterContent{
        position: relative;
        bottom: 0;
        left: 100px;
        width: auto;
    }
}
